---
import Label from "@components/label.astro";
import ProjectCard from "@components/project-card.astro";
import projects from "@data/projects.json";
import type { LocalesType } from "@helpers/locale";

type Props = {
  locale: LocalesType;
};

const { locale } = Astro.props;

const currentLanguage = new URL(Astro.request.url).pathname
  .slice(1)
  .split("/")[0];
---

<section class="mb-24 p-8 sm:p-0">
  <div class="mb-12 flex flex-col justify-between sm:flex-row sm:items-center">
    <Label withMargin={false}>
      {locale.home.projects.heading.name}
    </Label>
    <a class="mt-4 min-w-fit sm:mt-0" href={`/${currentLanguage}/projects`}>
      {locale.home.projects.heading.button} ~~&gt;
    </a>
  </div>
  <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
    {
      projects.decent
        .slice(0, 3)
        .map((project) => <ProjectCard project={project} locale={locale} />)
    }
  </div>
</section>
