---
import Label from '@components/label.astro'
import ProjectCard from '@components/project-card.astro'
import projects from '@data/projects.json'
import type { LocalesType } from '@helpers/locale'

type Props = {
  locale: LocalesType
}

const { locale } = Astro.props

const currentLanguage = new URL(Astro.request.url).pathname
  .slice(1)
  .split('/')[0]
---

<section class='mb-24 sm:p-0 p-8'>
  <div class='flex justify-between sm:items-center mb-12 sm:flex-row flex-col'>
    <Label withMargin={false}>
      {locale.home.projects.heading.name}
    </Label>
    <a class='min-w-fit sm:mt-0 mt-4' href={`/${currentLanguage}/projects`}>
      {locale.home.projects.heading.button} ~~&gt;
    </a>
  </div>
  <div class='grid lg:grid-cols-3 sm:grid-cols-2 gap-4'>
    {
      projects.decent
        .slice(0, 3)
        .map((project) => <ProjectCard project={project} locale={locale} />)
    }
  </div>
</section>
