---
import Label from "@components/label.astro";
import skills from "@data/skills.json";
import type { LocalesType } from "@helpers/locale";
type Props = {
  locale: LocalesType;
};
const { locale } = Astro.props;
---

<section class="mb-28 p-8 sm:p-0">
  <Label>
    {locale.home.skills.heading}
  </Label>
  <div
    class="flex flex-col-reverse items-center ss:justify-between xl:flex-row xl:items-start"
  >
    <img src="/assets/composition.svg" alt="composition" />
    <div class="mb-16 flex flex-col gap-4 sm:grid sm:grid-cols-3 xl:m-0">
      <div>
        <div class="mb-4 w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.languages}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.languages.join(" ")}
          </div>
        </div>
        <div class="w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.frameworks}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.frameworks.join(" ")}
          </div>
        </div>
      </div>
      <div>
        <div class="mb-4 w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.databases}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.databases.join(" ")}
          </div>
        </div>
        <div class="w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.other}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.other.join(" ")}
          </div>
        </div>
      </div>
      <div>
        <div class="mb-4 w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.tools}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.tools.join(" ")}
          </div>
        </div>
        <div class="mb-4 w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.interests}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.interests.join(" ")}
          </div>
        </div>
        <div class="w-40 border border-gray">
          <div class="border-b border-gray p-2 font-semibold text-white">
            {locale.home.skills.hostings}
          </div>
          <div class="flex flex-wrap p-2 text-gray">
            {skills.hostings.join(" ")}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
