---
import Skills from "@components/home/skills.astro";
import { LocalesList, createLocale } from "@helpers/locale";
import Layout from "@layouts/layout.astro";
import Label from "@components/label.astro";

export const getStaticPaths = () => {
  return LocalesList.map((locale) => ({
    params: { lang: locale },
  }));
};

const { lang } = Astro.params;

const locale = createLocale(lang);
---

<Layout locale={locale} title="about-me">
  <div class="mt-12 px-8 sm:p-0">
    <div class="mb-16">
      <div class="mb-4 flex text-[32px] font-semibold">
        <div class="text-primary">/</div>
        <div class="text-white">{locale.about.heading}</div>
      </div>
      <div>{locale.about.description}</div>
    </div>
    <div class="mb-28 flex flex-col items-center justify-between sm:flex-row">
      <div class="w-full">
        <div class="mb-7 max-w-[515px] text-gray">
          {locale.home.about.description.part_1}<br /><br />
          {locale.home.about.description.part_2}<br /><br />
          {locale.home.about.description.part_3}
        </div>
      </div>
      <div class="relative min-w-[339px]">
        <img src="/assets/people2.png" alt="people" />
        <img
          src="/assets/dots.svg"
          alt="dots"
          class="absolute top-[10%] left-8 sm:-left-1"
        />
        <img
          src="/assets/dots2.svg"
          alt="dots"
          class="absolute top-1/2 right-4 sm:top-2/3"
        />
        <div class="absolute bottom-0 right-6 h-px w-[271px] bg-primary"></div>
      </div>
    </div>
    <Skills locale={locale} />
  </div>
</Layout>

<style is:global>
  main {
    @apply bg-contain sm:bg-cover;
  }
</style>
