---
import { LocalesList, createLocale } from '@helpers/locale'
import Layout from '@layouts/layout.astro'
import projects from '@data/projects.json'
import ProjectCard from '@components/project-card.astro'
import Label from '@components/label.astro'

export const getStaticPaths = () => {
  return LocalesList.map((locale) => ({
    params: { lang: locale },
  }))
}

const { lang } = Astro.params

const locale = createLocale(lang)
---

<Layout title='projects' locale={locale}>
  <div class='mt-12'>
    <div class='mb-16'>
      <div class='text-[32px] font-semibold flex mb-4'>
        <div class='text-primary'>/</div>
        <div class='text-white'>{locale.projects.heading}</div>
      </div>
      <div>{locale.projects.description}</div>
    </div>
    <div class='grid grid-cols-3 gap-4 mb-28'>
      {
        projects.decent.map((project) => (
          <ProjectCard locale={locale} project={project} />
        ))
      }
    </div>
  </div>
</Layout>
